
<%- include("partials/header"); -%>


    <h1><%=title%></h1>
    <h3 class="erase" style="font-style: oblique; color:rgba(0,0,255,0.55);">    -by <%=name%></h2>
    <p><%=content%></p>



<%- include("partials/footer"); -%>
